@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Define the base styles for the button */

button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid transparent; /* Set the initial border */
    transition: border-color 0.3s ease; /* Add transition effect */
  }
  
  /* Define the styles for the button when hovered */
  button:hover {
    border-color: #333; /* Change the border color on hover */
  }
  
  /* Define the animation for the border */
  @keyframes border-pulse {
    0% {
      border-color: #000000;
    }
    25% {
      border-color: #b83939;
    }
    100% {
      border-color: #ffffff;
    }
  }
  
  /* Apply the animation to the button */
  .border-animation {
    animation: border-pulse 3s infinite; /* Apply animation to the button */
  }
  

  .text-style{
    font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
    color :aliceblue;
    /* text-shadow: 1px 1px #FF00FF; */
    /* text-shadow: 0 0 10px #ff00ff, 0 0 9px #ff00ea; */
    -webkit-text-stroke: 5px 	#9f29e9;
  }

  #tste{
    /* text-shadow: 1px 1px #FF00FF; */
    -webkit-text-stroke: 50px 	#9f29e9;
  }